.presetElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;

  transition-duration: 0.2s;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.presetElement:hover {
  background-color: #ffffff11;
  box-shadow: 0 0 3px var(--white), inset 0 0 3px var(--primary-hl);
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  height: 100%;
}

.buttonsContainer > button {
  height: 100%;
  aspect-ratio: 1;
  padding: 5px;
}

.presetsContainer {
  height: 100%;
  display: flex;
  gap: 2px;
}
