.container {
  display: flex;
  height: unset;
  align-items: stretch;
}

.presetElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;

  transition-duration: 0.2s;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;

  border: 2px solid transparent;
}
.presetElementSelected {
  background: var(--primary-bg) !important;
  border: 2px solid var(--primary-hl);
}

.presetElement:hover {
  border: solid 2px #ffffff60;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  height: 100%;
}

.buttonsContainer > button {
  height: 100%;
  aspect-ratio: 1;
  padding: 5px;
}

.contentBox {
  height: unset;
}

.presetsContainer {
  display: flex;
  gap: 2px;
}
