/* Reset standard styling */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: none;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: none;

  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 6px + var(--ratio) * (100% - 6px));
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 4px;
  background: linear-gradient(var(--primary-hl), var(--primary-hl)) 0 /
      var(--sx) 100% no-repeat,
    rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary-hl);

  height: 9px;
}

input[type="range"]::-moz-range-track {
  background: var(--primary-hl);
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 6px;
  background: var(--white);
  margin-top: -4px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: var(--white);
  margin-top: -5px;
  border-radius: 50%;
}

input[type="number"] {
  appearance: textfield;
}

input {
  padding: 0;
  margin: 0;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; may crash chrome, webkit version does not, but is probably older */
  display: none;
  /*-webkit-appearance: none;*/
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.readonly input[type="range"]::-webkit-slider-thumb {
    display: none;
  }
}

.numberNameContainer {
  display: flex;
  justify-content: space-between;
}

.numberNameContainer > input[type="number"] {
  background: none;
  color: white;
  padding: 0;
}

.minMaxContainer {
  display: flex;
  justify-content: space-between;
  color: var(--line);
}

.minMaxContainer > p {
  margin: 0;
  line-height: 0.5;
}
