/* Reset standard styling */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: none;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 4px;
  background: var(--primary-hl);
  height: 7px;
}

input[type="range"]::-moz-range-track {
  background: var(--primary-hl);
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 6px;
  background: var(--white);
  margin-top: -4px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: var(--white);
  margin-top: -5px;
  border-radius: 50%;
}

input[type="number"] {
  appearance: textfield;
}

input {
  padding: 0;
  margin: 0;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; may crash chrome, webkit version does not, but is probably older */
  display: none;
  /*-webkit-appearance: none;*/
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.numberNameContainer {
  display: flex;
  justify-content: space-between;
}

.numberNameContainer>input[type="number"] {
  background: none;
  color: white;
  padding: 0;
}

.minMaxContainer {
  display: flex;
  justify-content: space-between;
  color: var(--line);
}


.minMaxContainer>p {
  margin: 0;
  line-height: 0.5;
}
