
.Sidebar{

  display: flex;
  flex-direction: column;
  justify-content: start;

  
  padding: 20px;

  background: var(--bg3);
  border-right: 1px solid var(--line);

}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12vh;
}


nav > .Link {
  color: var(--text);
  font-size: 1.2rem;

  padding: 10px;
  padding-top: 13px;
  border-radius: 10px;
  margin-top: 20px;

  outline: none;
  vertical-align: middle;
  transition-duration: .1s;
}

.active{
  background: var(--bg3-hl);
  font-weight: 600;
  /*border: solid 1.5px var(--primary-hl);*/
}

