.title {
  font-size: 3rem;
  white-space: nowrap;
}

.layout {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.headerContainer {
  padding: var(--spacing);
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.contentContainer {
  border-top: 1px solid var(--line);
  width: 100%;
  height: 100%;

  padding: var(--spacing);
}

.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  gap: var(--spacing);
  overflow: scroll;
}
