.title {
  font-size: 3rem;
  white-space: nowrap;
}

.layout {
  flex: 1;
  min-width: 0;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.headerContainer {
  padding: var(--spacing);
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 1000px;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  border-top: 1px solid var(--line);

  padding: var(--spacing);
}

.content {
  display: flex;
  flex-direction: row;

  flex: 1;
  min-height: 0;

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* height: 100%; */
  gap: var(--spacing);
}
