:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --green-hl: #34ff82;
  --green-bg: #4ced8a40;

  --red-hl: #e34141;
  --red-bg: #b5565640;

  --line: #554c66;

  --primary-hl: #8d4aff;
  --primary-bg: #49267925;

  --primary-hl-hover: rgba(var(--primary-hl), 0.5);
  --bg: #17171e;

  --white: #f9f9f9;

  color: #eeeeee;
  /*text: #f9f9f9;*/
  background-color: var(--bg);

  --spacing: 20px;

  --easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* (Reset) Setting sensible defaults */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

html,
body,
div#root {
  margin: 0px;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* (Reset) end */

.icon {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}
