.button {
  border-radius: 8px;
  border: solid 2px var(--primary-hl);

  padding: 8px 32px;
  font-family: inherit;
  font-weight: bold;
  color: var(--primary-hl);
  background-color: var(--primary-bg);
  transition:
    border-color 0.25s,
    transform 0.1s;

  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.primary {
  color: var(--green-hl);
  background-color: var(--green-bg);
  border-color: var(--green-hl);
}

.secondary {
}

.danger {
  color: var(--red-hl);
  background-color: var(--red-bg);
  border-color: var(--red-hl);
}
